<% if user_signed_in? %>
    <p>
      <% if @feed_items.count.equal?(0) %>
          Nothing here!
      <% else %>
        <!--TODO finish AJAX sorting -->
        <div id="feed_table"><%= render 'feed_table' %></div>

    <% end %>
<% else %>
    <p><%= link_to "Sign up", new_user_registration_path %> / <%= link_to "Sign in", new_user_session_path %></p>

<% end %>